@font-face{
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face{
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*, *::before, *::after { box-sizing: border-box; }

body{
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 100%;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #ffffff;
  color: #333333;
  margin: 0 auto;
}

.button{
  display: inline-block;
  background: #83B3D3;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  border: 0;
  padding-top: 9px;
  padding-bottom: 10px;
  width: 160px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.page-header-navigation{
  background-color: #ffffff;
  color: #000000;
}

.navigation{
  display: flex;
  width: 100%;
  margin: 0 auto;
}

.navigation-list{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 309px;
  margin-right: auto;
  list-style : none;
}

.navigation-user{
  display: flex;
  flex-wrap: wrap;
  width: 309px;
  margin-left: auto;
  margin-right: 0;
  align-items: center;
}

.navigation-link{
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #000000;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

.navigation-list :nth-child(2) .navigation-link{
  margin-right:  33px;
  margin-left:  33px;
}

.navigation-user :nth-child(2) .navigation-link{
  margin-left: 20px;
  margin-right: 21px;
  padding:0 20px ;
}

.navigation-logo{
  width: 138px;
  height: 65px;
  position: relative;
}

.navigation-logo::before{
  content: "";
  background-image: url("../img/sedona.svg");
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  width: 138px;
  height: 70px;
}

.navigation-search{
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  display: block;
  width: 18px;
  height: 17px;
  margin-left: auto;
  padding: 0;
}


.navigation-favorites{
  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
  display: block;
  width: 18px;
  height: 18px;
}

.favorites-number{
  background-color: #7DB54F;
  font-size: 10px;
  font-weight: 400;
  line-height: 13px;
  color: #FFFFFF;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: block;
  letter-spacing: -0.1em;
  text-align: center;

}

.navigation-button{
  background-color: #756257;
  color: #FFFFFF;
}

.main-container{
  flex-grow: 1;
}

.qreeting{
  text-align: center;
  width: 100%;
  margin:  auto;
}
.qreeting-img{
  background-image: url("../img/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  padding-top: 51px;
  padding-bottom: 82px;
}

.qreeting-descript{
  background-color: #ffffff;
  color: #000000;
  max-width: 720px;
  margin: 0 auto;
  padding-bottom: 79px;
  padding-top: 63px;
}

.main-heading{
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;

}

.causes{
  font-size: 22px;
  line-height: 36px;
  color: #333333;
  margin-top: 23px;
}

img {
  display:block;
  margin: 0 auto;
}

.benefits-container{
  display:grid;
  grid-template-columns: repeat(3, 400px);
  grid-auto-flow: dense;
}

.benefits-list{
  display:grid;
  grid-template-columns: repeat(3, 400px);
  grid-auto-flow: dense;
}

.benefits-item{
  grid-column: 1/2;
}

.benefits-item-img{
  grid-column: 2/-1;
}

.offer-title{
  display:grid;
  grid-template-columns: repeat(3, 400px);
}

.benefits-item-home{
  grid-column: 1/2;
}

.benefits-item-food{
  grid-column: 2/3;
}

.benefits-item-gift{
  grid-column: 3/4;
}

.benefits-container-two> .benefits-item{
  grid-column: 3/4;
}

.benefits-container-two> .benefits-item-img{
  grid-column: 1/3;
}

.benefits-item-road{
  grid-column: 2/3;
}

.benefits-tourist{
  grid-column: 3/4;
}

.benefits-list{
  list-style: none;
  margin: 0;
  padding: 0;
}
.benefits-img{
  grid-column: 1/-1;
}

.benefits-item{
  text-align: center;
  color: #ffffff;
  background-color: #83B3D3;
  padding: 75px;
  padding-top:98px;
  padding-bottom:77px;
  min-height: 384px;
}

.benefits-item-title{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  max-width: 172px;
  text-transform: uppercase;
  margin-top: 0;
  margin: auto;
  margin-bottom: 25px;
}

.benefits-container> .benefits-item{
  padding-right: 90px;
  padding-left: 90px;
}

.benefits-description{
  margin-top: 26px;
}

.benefits-item-description{
  margin-bottom: 0;
}

.offer-title{
  list-style: none;
  padding: 0;
  margin: 0;
}

.offer-title h3{
  color: #000000;
}

.offer-title .benefits-item{
  background-color: rgba(131, 179, 211, 0.12);
  color: #333333;
  position: relative;
  padding-top:184px;
  padding-bottom:79px;
}

.offer-title .benefits-item-food{
  background: #FFFFFF;
}

.benefits-item-food::before{
  content: "";
  background-image: url("../img/food.svg");
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  top: 89px;
  left: 50%;
  transform: translateX(-50%);
  width: 74px;
  height: 70px;
}

.benefits-item-home::before{
  content:"";
  background-image:url("../img/home.svg");
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  top: 89px;
  left: 50%;
  transform: translateX(-50%);
  width: 75px;
  height: 72px;
}

.benefits-item-gift::before{
  content:"";
  background-image:url("../img/souvenirs.svg");
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  top: 89px;
  left: 50%;
  transform: translateX(-50%);
  width: 64px;
  height: 76px;
}

.benefits-tourist-area{
  background-color:rgba(131, 179, 211, 0.12);;
  color: #000000;
}

.benefits-item-road{
  background-color: rgba(131, 179, 211, 0.2);
  color: #000000;
}

.search{
  background-color: #FFFFFF;
  text-align: center;
  color: #000000;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 91px;
  padding-top: 98px;
}

.search-question{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 15px;
}

.search-prompt{
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin-top: 0;
  margin-bottom: 73px;
}

.search-hotel{
  display: block;
  max-width: 575px;
  background-color: #756257;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto;
  border-radius: 10px;
  padding-top: 13px;
  padding-bottom: 17px;
}

.subscription{
  background-image: url("../img/background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #000000;
  color: #FFFFFF;
  padding-top: 98px;
  padding-bottom: 94px;
  text-align: center;
}


.subscription-title{
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 15px;
}

.subscription-description{
  font-size: 22px;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 26px;
}

.subscription input{
  background: #F2F2F2;
  border-radius: 10px 0px 0px 10px;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  border: 0;
  width: 600px;
  height: 60px;
  padding: 0;
  padding-left: 22px;
  padding-right: 19px;
}


.subscription-button{
  font-size: 20px;
  line-height: 26px;
  border-radius: 0px 10px 10px 0px;
  height: 60px;
  width: 200px;
  padding: 0;
  vertical-align: bottom;
}

.footer{
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding: 40px 71px 30px 72px;
}

.social{
  display: flex;
  flex-wrap: wrap;
  max-width: 350px;
  margin-right: auto;
  list-style: none;
  padding: 0;
}

.social-item{
 margin-right: 30px;
}

.social-link{
  display: block;
  max-width: 21px;
  max-height: 16px;
}

.social-link-twitter img {
  width: 18px;
  height: 14.96px;
}

.social-link-facebook img{
  width: 10px;
  height: 18px;
}

.social-link-youtube img{
  width: 20.1px;
  height:16px;
}

.footer-link-htmlacademy{
  display: block;
  margin-left: auto;
  width: 115px;
}

.logo-htmlacademy-img{
  width: 114.9px;
  height: 32.9px;
}

.footer-phone{
  display: block;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.filter{
  display: block;
  background-image: url("../img/catalog/catalog-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #333333;
  color: #FFFFFF;
  padding-top: 35px;
  padding-bottom: 83px;
}

.alignment{
  padding-left: 72px;
  padding-right: 71px;
}

.filter-form{
  display:grid;
  grid-template-columns: repeat(4, 217px 312px 368px 160px );
}

.filter-title h1{
  margin: 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 68px;
}

.filter-breadcrumbs{
  display: flex;
  list-style: none;
  padding:  0;
  margin-top: 5px;
  margin-bottom: 45px;
}

.filter-breadcrumbs-item:first-child{
  display: block;
  background-image: url("../img/catalog/home.svg");
  background-repeat: no-repeat;
  width: 12px;
  height: 11.7px;
  margin-right: 26px;
  align-self: center;
}

.filter-breadcrumbs-item{
  font-size: 16px;
}

.filter-list{
  list-style-type: none;
  padding: 0;
  margin: 0;
}


.filter-item{
  margin: 0;
  padding: 0;
  border: 0;
}

.filter-item-title{
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 30px;
}

.filter-list li:nth-child(2) {
  margin-top: 13px;
  margin-bottom: 13px;
}

.filter-label{
  line-height: 23px;
}

.filter-button-container{
  display: flex;
  flex-direction: column;
  width: 160px;
  margin: 0 ;
}

.filter-button{
  margin-top: auto;
}

.filter-button-close{
  background-color: transparent;
  border: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  color: #FFFFFF;
  text-transform: none;
  padding-top: 20px;
  margin: 0;
}

.filter-input{
  margin: 0;
  margin-right: 19px;
  width: 20px;
  height: 20px;
  vertical-align:text-top;
}

.range-block-change{
  display: grid;
  grid-template-columns: 143px 144px;
  margin-bottom: 20px;
}

.range-block-min{
  grid-column: 1/2;
}

.range-block-min input{
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px 0px 0px 4px;
  border: 2px solid #FFFFFF;
  background-color: transparent;
}

.range-block-max{
  grid-column: 2/3;
}

.range-block-max input{
  width: 100%;
  box-sizing: border-box;
  border-radius: 0px 4px 4px 0px;
  border: 2px solid #FFFFFF;
  border-left: 0px;
  background-color: transparent;
}

.sorting{
  display: flex;
  width: 100%;
  padding-top: 44px;
  padding-bottom: 42px;
}

.sorting-result{
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  color: #000000;
  text-transform: uppercase;
  margin-top:0 ;
  margin-bottom: 0;
  margin-right: auto;
}

.sorting-select{
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
}

.sorting-mode{
  display: flex;
  margin-left: auto;
}

.sorting-mode-item{
  display: block;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  width: 48px;
  height: 48px;
  margin-left: 8px;
  background-repeat: no-repeat;
  background-size: 16px 14px;
  background-position: center;
}

.mode-item-active{
  border: 2px solid #000000;
}

.mode-tiles{
  background-image: url("../img/catalog/mode-tile.svg");
}

.mode-card{
  background-image: url("../img/catalog/mode-slideshow.svg");
}

.mode-list{
  background-image: url("../img/catalog/mode-list.svg");
}

.lodging-list{
  margin: 0;
  padding: 0;
}

.lodging-item{
  border-top: 1px solid #E6E6E6;
  width: 100%;
  display: flex;
  padding-top: 28px;
  padding-bottom: 30px;
}

.lodging-list :last-child.lodging-item{
  border-bottom: 1px solid #E6E6E6;
}

.lodging-item-link{
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  text-decoration: none;
  color: #000000;
  background-color: #FFFFFF;
  max-width: 320px;
}

.lodging-item-info{
  display: flex;
  flex-direction: column;
  width: 320px;
  margin-left: 36px;
}

.lodging-item-title{
  display: block;
  margin: 0;
  margin-bottom: 1px;
  font-size: 24px;
}

.search-results-type{
  display: flex;
  width: 235px;
  max-width: 320px;
  justify-content: space-between;
  margin-bottom: auto;
}

.search-results-type p{
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  background-color: #FFFFFF;
  margin: 0;
}
.search-results-button{
  display: flex;
}

.button-search-info{
  background: #756257;
  width: 151px;
  margin-right: 8px;
}

.button-favorites{
  background-color: #7DB54F;
}

.search-results-rating{
  margin-left:  auto;
  width: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.search-results-rating-text{
  background: #F2F2F2;
  border-radius: 4px;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  margin-top: auto;
  margin-bottom: 0;
  padding-top: 9px;
  padding-bottom: 10px
}

.search-results-rating-stars{
  display: flex;
  justify-content: center;
}

.rating-star{
  display: block;
  max-width: 110px;
  height: 17px;
}

.pagination-list{
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.show-more{
  padding-top: 31px;
  padding-bottom: 30px;
  border-bottom: 1px solid #E6E6E6;
}

.pagination{
  display: flex;
  padding-top: 31px;
}

.pagination-show-more{
  display: block;
  font-size: 20px;
  line-height: 26px;
  width: 625px;
  margin: 0 auto;
}

.pagination-item{
  margin-right: 8px;
}

.pagination-link{
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  background: #83B3D3;
  border-radius: 4px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 14.5px 17px 14.5px 17px;
  min-width: 55px;
  min-height: 55px;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
}

.pagination-end{
  padding: 14.5px;
  margin: 0;
}

.pagination-current{
  background: #F2F2F2;
  color: #000000;
}

.amount-elements{
  margin-left: auto;
}

.amount-text{
  line-height: 23px;
  background-color: #FFFFFF;
  color: #333333;
  margin-right: 51px;
}

.select-control{
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  background-color: #FFFFFF;
  width: 160px;
  height: 55px;
  padding-left: 17px;
}

.subscription-inner{
  background:none;
  color: #000000;
  text-align: center;
  padding-top: 89px;
  padding-bottom: 137px;
}

.subscription-inner p{
  color: #333333;
}

