@font-face{
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face{
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
body{
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #ffffff;
  color: #242424;
}

.button{
  background: #83B3D3;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  border: 0;
}

.page-header-navigation{
  background-color: #ffffff;
  color: #000000;
}

.navigation-link{
  background-color: #ffffff;
  color: #000000;
  font-size: 20px;
  line-height: 25,88px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

.navigation-search{
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
}

.navigation-favorites{
  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
}

.favorites-number{
  background-color: #7DB54F;
  font-size: 10px;
  line-height: 13px;
  color: #FFFFFF;
  border-radius: 50%;
}

.navigation-button{
  background-color: #756257;
  color: #FFFFFF;
}

.main{
  background-image: url("../img/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #FFFFFF;
}
.qreeting{
  text-align: center;
}

.qreeting-descript{
  background-color: #ffffff;
  color: #000000;
}

.main-heading{
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.causes{
  font-size: 22px;
  line-height: 36px;
  color: #333333;
}

.benefits-list{
  list-style-type: none;
}

.benefits-item{
  text-align: center;
  color: #ffffff;
  background-color: #83B3D3;
}

.benefits-item-title{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.offer-title{
  list-style-type: none;
}

.offer-title.benefits-item-title{
  color: #000000;
}

.benefits-item-food{
  background-image: url("../img/food.svg");
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  color: #333333;
}

.benefits-item-home{
  background-color: rgba(131, 179, 211, 0.12);
  color: #333333;
  background-image: url("../img/home.svg");
  background-repeat: no-repeat;
}

.benefits-item-gift{
  background-color: rgba(131, 179, 211, 0.12);
  color: #333333;
  background-image: url("../img/souvenirs.svg");
  background-repeat: no-repeat;
}

.benefits-item-area{
  background-color:rgba(131, 179, 211, 0.12);;
  color: #000000;
}

.benefits-item-road{
  background-color: rgba(131, 179, 211, 0.2);
  color: #000000;
}

.benefits-item-tourist{
  background-color: rgba(131, 179, 211, 0.12);
  color: #000000;
}

.search{
  background-color: #FFFFFF;
  text-align: center;
  color: #000000;
}

.search-question{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.search-prompt{
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.search-hotel{
  background-color: #756257;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.subscription-page{
  background-image: url("../img/background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #000000;
  text-align: center;
  color: #FFFFFF;
}

.subscription-title{
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscription-description{
  font-size: 22px;
  line-height: 26px;
}

input[type="text"]{
  background: #F2F2F2;
  border-radius: 0px 10px 10px 0px;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  border: 0;
}

.subscription-button{
  font-size: 20px;
  line-height: 26px;
  border-radius: 0px 10px 10px 0px;
}

.footer{
  background-color: #FFFFFF;
  color: #242424;
}

.social-link-twitter{
  background-image: url("../img/twitter.svg");
  background-repeat: no-repeat;
}

.social-link-facebook{
  background-image: url("../img/facebook.svg");
  background-repeat: no-repeat;
}

.social-link-youtube{
  background-image: url("../img/youtube.svg");
  background-repeat: no-repeat;
}

.footer-phone{
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.filter{
  background-image: url("../img/catalog/catalog-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #333333;
  color: #FFFFFF;
}

h1{
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
}

.filter-breadcrumbs{
  list-style-type: none;
}

.filter-breadcrumbs-item:first-child{
  background-image: url("../img/catalog/home.svg");
  background-repeat: no-repeat;
}

.filter-breadcrumbs-item:last-child{
  font-size: 16px;
}

.filter-list{
  list-style-type: none;
}

.filter-item-title{
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.filter-label{
  line-height: 23px;
}



.filter-button-close{
  background-color: transparent;
  border: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  color: #FFFFFF;
}

.sorting-result{
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  color: #000000;
  text-transform: uppercase;
}

.sorting-select{
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
}

.mode-tiles{
  background-image: url("../img/catalog/mode-tile.svg");
  background-repeat: no-repeat;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
}

.mode-card{
  background-image: url("../img/catalog/mode-slideshow.svg");
  background-repeat: no-repeat;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
}

.mode-list{
  background-image: url("../img/catalog/mode-list.svg");
  background-repeat: no-repeat;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
}

.lodging-list{
  list-style-type: none;
}

.lodging-item-link{
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  text-decoration: none;
  color: #000000;
  background-color: #FFFFFF;
}

.type-lodging,.prise-lodging{
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  background-color: #FFFFFF;
}

.button-search-info{
  background: #756257;
}

.button-favorites{
  background-color: #7DB54F;
}

.search-results-rating-text{
  background: #F2F2F2;
  border-radius: 4px;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}

.pagination-list{
  list-style-type: none;
}

.pagination-show-more{
  font-size: 20px;
  line-height: 26px;
}

.pagination-link{
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  background: #83B3D3;
  border-radius: 4px;
  color: #FFFFFF;
  text-decoration: none;
}

.pagination-current{
  background: #F2F2F2;
  color: #000000;
}

.amount-text{
  line-height: 23px;
  color: #333333;
  background-color: #FFFFFF;
}

.select-control{
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  background-color: #FFFFFF;
}

.subscription-inner{
  background-color: #FFFFFF;
  color: #000000;
  text-align: center;
}

.subscription-inner p{
  color: #333333;
}

