@font-face{
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face{
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*, *::before, *::after { box-sizing: border-box; }

body{
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 100%;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #ffffff;
  color: #333333;
  margin: 0 auto;
}

.button{
  display: inline-block;
  background: #83B3D3;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  border: 0;
  padding-top: 9px;
  padding-bottom: 10px;
  width: 160px;
  border: none;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.alignment{
  padding-left: 71px;
  padding-right: 72px;
}

.page-header-navigation{
  background-color: #ffffff;
  color: #000000;
}

.navigation{
  display: flex;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  padding-left: 65px;
}

.navigation-list{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  max-width: 460px;
  list-style : none;
}

.navigation-user{
  display: flex;
  flex-wrap: wrap;
  max-width: 460px;
  justify-content: center;
  align-items: center;
}

.navigation-item{
  margin-right:  9px;
  padding-top: 13px;
  padding-bottom: 14px;
}

.navigation-item-current{
  box-shadow:inset 2px -6px 0px -4px #756257;
}

.navigation-link{
  display: block;
  color: #000000;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  padding: 6px 12px;
}

.navigation-link:hover{
  color:#756257;
}

.navigation-link:focus{
  box-shadow: 0 0 0 3px #83B3D3;
  outline: none;
  border-radius: 10px;
}

.navigation-link:active{
  color:#756257;
  opacity: 0.3;
  box-shadow: none;
}

.favorites{
  margin-right:  11px;
  width: 45px;
  position: relative;
  align-self: center;
  height: 60px;
  padding-top: 11px;
}

.navigation-logo{
  width: 138px;
  height: 65px;
  position: absolute;
  left: 45%;
  z-index: 1;
}

.navigation-search{
  position: relative;
  display: block;
  width: 38px;
  height: 38px;
  margin-left: auto;
  padding: 0;
}

.navigation-favorites{
  position: relative;
  display:block ;
  width: 38px;
  height: 37px;
}

.favorites-number{
  top:0px;
  left:22px;
  position: absolute;
  background-color: #7DB54F;
  font-size: 10px;
  font-weight: 400;
  line-height: 13px;
  color: #FFFFFF;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: block;
  letter-spacing: -0.1em;
  text-align: center;
}
.navigation-icon{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.navigation-favorites-search:hover .navigation-icon{
  fill:#756257;
}

.navigation-favorites-search:focus{
  box-shadow:inset 0 0 0 3px #83B3D3;
  outline: none;
  border-radius: 10px;
}

.navigation-favorites-search:active{
  fill:#756257;
  opacity: 0.3;
  box-shadow: none;
}

.navigation-button{
  background-color: #756257;
  color: #FFFFFF;
}

.navigation-button:hover{
  background-color: #615048;
}

.navigation-button:focus{
  box-shadow: 0 0 0 3px #83B3D3;
  outline: none;
}

.navigation-button:active{
  box-shadow:none;
  opacity: 0.3;
}

.main-container{
  flex-grow: 1;
}

.qreeting{
  text-align: center;
  width: 100%;
  margin:  auto;
}
.qreeting-img{
  position: relative;
  background-image: url("../img/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  padding-top: 51px;
  padding-bottom: 82px;
}

.qreeting-img::after{
  content: "";
  position: absolute;
  background-image: url("../img/divider.svg");
  background-repeat: no-repeat;
  top: 428px;
  left:0px;
  width: 100%;
  height: 57px;
}

.qreeting-descript{
  background-color: #ffffff;
  color: #000000;
  max-width: 720px;
  margin: 0 auto;
  padding-bottom: 79px;
  padding-top: 63px;
}

.main-heading{
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0;

}

.causes{
  font-size: 22px;
  line-height: 36px;
  color: #333333;
}

img {
  display:block;
  margin: 0 auto;
}

.benefits-container{
  display: flex;
}

.benefits-container-two{
  flex-direction: row-reverse;
}

.benefits-list{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.offer-title{
  display: flex;
}

.benefits-item{
  text-align: center;
  color: #ffffff;
  background-color: #83B3D3;
  padding: 75px;
  padding-top:98px;
  padding-bottom:77px;
  min-height: 384px;
}

.benefits-item-title{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  max-width: 172px;
  text-transform: uppercase;
  margin-top: 0;
  margin: auto;
  margin-bottom: 25px;
}

.benefits-container> .benefits-item{
  padding-right: 90px;
  padding-left: 90px;
}

.benefits-description{
  margin-top: 26px;
}

.benefits-item-description{
  margin-bottom: 0;
  max-width: 250px;
}

.offer-title{
  list-style: none;
  padding: 0;
  margin: 0;
}

.offer-title h3{
  color: #000000;
}

.offer-title .benefits-item{
  background-color: rgba(131, 179, 211, 0.12);
  color: #333333;
  position: relative;
  padding-top:184px;
  padding-bottom:79px;
}

.offer-title .benefits-item-food{
  background: #FFFFFF;
}

.benefits-item-food::before{
  content: "";
  background-image: url("../img/food.svg");
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  top: 89px;
  left: 50%;
  transform: translateX(-50%);
  width: 74px;
  height: 70px;
}

.benefits-item-home::before{
  content:"";
  background-image:url("../img/home.svg");
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  top: 89px;
  left: 50%;
  transform: translateX(-50%);
  width: 75px;
  height: 72px;
}

.benefits-item-gift::before{
  content:"";
  background-image:url("../img/souvenirs.svg");
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  top: 89px;
  left: 50%;
  transform: translateX(-50%);
  width: 64px;
  height: 76px;
}

.benefits-tourist-area{
  background-color:rgba(131, 179, 211, 0.12);;
  color: #000000;
}

.benefits-item-road{
  background-color: rgba(131, 179, 211, 0.2);
  color: #000000;
}

.search{
  background-color: #FFFFFF;
  text-align: center;
  color: #000000;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 98px;
  padding-top: 61px;
}

.search-question{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.search-prompt{
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin: 0 auto;
  margin-bottom: 73px;
  max-width: 580px;
}

.search-hotel{
  display: block;
  max-width: 575px;
  background-color: #756257;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto;
  border-radius: 10px;
  padding-top: 13px;
  padding-bottom: 17px;
}

.search-hotel:hover{
  background-color: #615048;
}

.search-hotel:focus{
  background-color:#615048;
  box-shadow:0 0 0 3px #83B3D3;
  box-sizing: border-box;
  border-radius: 10px;
  outline: none;
}

.search-hotel:active{
  background-color:#615048;
  box-shadow:none;
  opacity: 0.3;
}

.subscription{
  background-image: url("../img/background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #000000;
  color: #FFFFFF;
  padding-top: 69px;
  padding-bottom: 94px;
  text-align: center;
}


.subscription-title{
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.subscription-description{
  font-size: 22px;
  line-height: 26px;
  margin: 0 auto;
  margin-bottom: 26px;
  width: 600px;
}

.subscription input{
  background: #F2F2F2;
  border-radius: 10px 0px 0px 10px;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  border: 0;
  width: 600px;
  padding: 17px 21px;
}

.subscription-button{
  font-size: 20px;
  line-height: 26px;
  border-radius: 0px 10px 10px 0px;
  width: 200px;
  padding: 17px;
  vertical-align: bottom;
}

.subscription-button:hover{
  background: #68A2CA;
  border-radius: 0px 10px 10px 0px;
}

.subscription-button:focus{
  background: #68A2CA;
  box-shadow:0 0 0  3px #756257;
  border-radius: 0px 10px 10px 0px;
  box-sizing: border-box;
  outline: none;
}

.subscription-button:active{
  background: #68A2CA;
  box-shadow:none;
  opacity: 0.3;
}

.footer{
  display: grid;
  grid-template-columns: 1fr 365px 1fr;
  width: 100%;
  margin: 0 auto;
  padding: 25px 48.5px 15px 61px;
}

.social{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-item{
 margin-right: 10px;
 position: relative;
}

.social-link{
  display: block;
  fill: #83B3D3;
  width: 40px;
  height: 40px;
  margin-top: 15px;
}

.social-icon{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.social-link:hover .social-icon {
  fill: #68A2CA;
}

.social-link:focus{
  box-shadow:0 0 0 3px #83B3D3;
  box-sizing: border-box;
  border-radius: 10px;
  fill: #68A2CA;
  outline: none;
}

.social-link:active{
  box-shadow: none;
  fill: #68A2CA;
  opacity: 0.3;
}

.social-link-twitter svg{
  width: 18px;
  height: 14.96px;
}

.social-link-facebook svg{
  width: 10px;
  height: 18px;
}

.social-link-youtube svg{
  width: 20.1px;
  height:16px;
}

.footer-link-htmlacademy{
  display: block;
  width: 160px;
  margin-left: auto;
  position: relative;
}

.footer-link-htmlacademy:hover .footer-icon-htmlacademy{
  fill: #756257;
}

.footer-link-htmlacademy:focus{
  fill: #756257;
  box-shadow:0 0 0 3px #83B3D3;
  box-sizing: border-box;
  border-radius: 10px;
  outline: none;
}

.footer-link-htmlacademy:active{
  fill: #756257;
  box-shadow:none;
  opacity: 0.3;
}

.footer-icon-htmlacademy{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.footer-phone{
  display: block;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  padding: 15px;
}

.footer-phone:hover{
  color: #756257;
}

.footer-phone:focus{
  color: #756257;
  box-shadow:0 0 0  3px #83B3D3;
  box-sizing: border-box;
  border-radius: 10px;
  outline: none;
}

.footer-phone:active{
  fill: #756257;
  box-shadow:none;
  opacity: 0.3;
}

.filter{
  display: block;
  background-image: url("../img/catalog/catalog-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #333333;
  color: #FFFFFF;
  padding-top: 35px;
  padding-bottom: 83px;
}



.filter-form{
  display:grid;
  grid-template-columns: repeat(4, 217px 312px 368px 160px );
}

.filter-title h1{
  margin: 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 68px;
}

.filter-breadcrumbs{
  display: flex;
  list-style: none;
  padding:  0;
  margin-top: 5px;
  margin-bottom: 45px;
  align-items: center;
}

.filter-breadcrumbs-home{
  display: block;
  background-image: url("../img/catalog/home.svg");
  background-repeat: no-repeat;
  width: 12px;
  height: 11.7px;
  align-self: center;
}

.filter-breadcrumbs-home::after{
  content: "";
  position: absolute;
  background-image: url("../img/catalog/nav-link.svg");
  background-repeat: no-repeat;
  left:23px;
  top:2px;
  width: 5px;
  height: 8px;
}

.filter-breadcrumbs-item{
  font-size: 16px;
  margin-right: 26px;
  position: relative;
}

.filter-list{
  list-style-type: none;
  padding: 0;
  margin: 0;
}


.filter-item{
  margin: 0;
  padding: 0;
  border: 0;
}

.filter-item-title{
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 30px;
}

.filter-list li:nth-child(2) {
  margin-top: 13px;
  margin-bottom: 13px;
}

.filter-label{
  line-height: 23px;
}

.filter-button-container{
  display: flex;
  flex-direction: column;
  width: 160px;
  margin: 0 ;
}

.filter-button{
  margin-top: auto;
}

.filter-button-close{
  background-color: transparent;
  border: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  color: #FFFFFF;
  text-transform: none;
  padding-top: 20px;
  margin: 0;
}

.filter-input{
  margin: 0;
  margin-right: 19px;
  width: 20px;
  height: 20px;
  vertical-align:text-top;
}

.filter-range-container{
width: 287px;

}

.range-block-change{
   display: flex;
   margin-bottom: 20px;
   border: 2px solid #FFFFFF;
   border-radius: 4px;
}
.range-block-min{
  display: inline-block;
}
.range-block-max{
  display: inline-block;
}


.range-block-min input{
  width: 110px;
  box-sizing: border-box;
  border:0;
  background-color: transparent;
}


.range-block-max input{
  width: 110px;
  box-sizing: border-box;
  border: 0;
  border-left: 2px solid #FFFFFF;
  background-color: transparent;
}

.sorting{
  display: flex;
  width: 100%;
  padding-top: 44px;
  padding-bottom: 42px;
}

.sorting-result{
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  color: #000000;
  text-transform: uppercase;
  margin-top:0 ;
  margin-bottom: 0;
  margin-right: auto;
}

.sorting-select{
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
}

.sorting-mode{
  display: flex;
  margin-left: auto;
}

.sorting-mode-item{
  display: block;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  width: 48px;
  height: 48px;
  margin-left: 8px;
  background-repeat: no-repeat;
  background-size: 16px 14px;
  background-position: center;
}

.mode-item-active{
  border: 2px solid #000000;
}

.mode-tiles{
  background-image: url("../img/catalog/mode-tile.svg");
}

.mode-card{
  background-image: url("../img/catalog/mode-slideshow.svg");
}

.mode-list{
  background-image: url("../img/catalog/mode-list.svg");
}

.lodging-list{
  margin: 0;
  padding: 0;
}

.lodging-item{
  border-top: 1px solid #E6E6E6;
  width: 100%;
  display: flex;
  padding-top: 28px;
  padding-bottom: 30px;
}

.lodging-list :last-child.lodging-item{
  border-bottom: 1px solid #E6E6E6;
}

.lodging-item-link{
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  text-decoration: none;
  color: #000000;
  background-color: #FFFFFF;
  max-width: 320px;
}

.lodging-item-info{
  display: flex;
  flex-direction: column;
  width: 320px;
  margin-left: 36px;
}

.lodging-item-title{
  display: block;
  margin: 0;
  margin-bottom: 1px;
  font-size: 24px;
}

.search-results-type {
  margin-bottom: auto;
}

.search-results-type p{
  display: inline-block;
  width: 157px;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  background-color: #FFFFFF;
  margin: 0;
}
.search-results-button{
  display: flex;
}

.button-search-info{
  background: #756257;
  width: 151px;
  margin-right: 8px;
}

.button-favorites{
  background-color: #7DB54F;
}

.search-results-rating{
  margin-left:  auto;
  width: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.search-results-rating-text{
  background: #F2F2F2;
  border-radius: 4px;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  margin-top: auto;
  margin-bottom: 0;
  padding-top: 9px;
  padding-bottom: 10px
}

.search-results-rating-stars{
  display: flex;
  justify-content: center;
}

.rating-star{
  display: block;
  max-width: 110px;
  height: 17px;
}

.pagination-list{
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.show-more{
  padding-top: 31px;
  padding-bottom: 30px;
  border-bottom: 1px solid #E6E6E6;
}

.pagination{
  display: flex;
  padding-top: 31px;
}

.pagination-show-more{
  display: block;
  font-size: 20px;
  line-height: 26px;
  width: 625px;
  margin: 0 auto;
}

.pagination-item{
  margin-right: 8px;
}

.pagination-link{
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  background: #83B3D3;
  border-radius: 4px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 14.5px 17px 14.5px 17px;
  min-width: 55px;
  min-height: 55px;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
}

.pagination-end{
  padding: 14.5px;
  margin: 0;
}

.pagination-current{
  background: #F2F2F2;
  color: #000000;
}

.amount-elements{
  margin-left: auto;
}

.amount-text{
  line-height: 23px;
  background-color: #FFFFFF;
  color: #333333;
  margin-right: 51px;
}

.select-control{
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  background-color: #FFFFFF;
  width: 160px;
  height: 55px;
  padding-left: 17px;
}

.subscription-inner{
  background:none;
  color: #000000;
  text-align: center;
  padding-top: 89px;
  padding-bottom: 137px;
}

.subscription-inner p{
  color: #333333;
}

